<h1>Listing milestones</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Goals</th>
    <th>Open issues</th>
    <th>Closed issues</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @milestones.each do |milestone| %>
  <tr>
    <td><%= milestone.title %></td>
    <td><%= milestone.goals %></td>
    <td><%= milestone.open_issues %></td>
    <td><%= milestone.closed_issues %></td>
    <td><%= link_to 'Show', project_milestone_path(current_project, milestone) %></td>
    <td><%= link_to 'Edit', edit_project_milestone_path(current_project, milestone) %></td>
    <td><%= link_to 'Destroy', project_milestone_path(current_project, milestone), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @milestones %>

<br />

<%= link_to 'New Milestone', new_project_milestone_path %>
