<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @milestone.title %>
</p>

<p>
  <b>Goals:</b>
  <%= @milestone.goals %>
</p>

<p>
  <b>Open issues:</b>
  <%= @milestone.open_issues %>
</p>

<p>
  <b>Closed issues:</b>
  <%= @milestone.closed_issues %>
</p>


<%= link_to 'Edit', edit_project_milestone_path(current_project, @milestone) %> |
<%= link_to 'Back', project_milestones_path %>
