<h1>Members</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Role</th>
    <th></th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= role(user.users_projects.first.access) %></td>
      <td><%= link_to 'Edit', edit_project_users_project_path(current_project, user.users_projects.first.id) %></td>
      <td><%= link_to 'Destroy', [current_project, user.users_projects.first], confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Member', new_project_users_project_path %>
