<%= form_for([current_project, @issue]) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  
  <% if (current_user.can_moderate?(current_project.id)) %>
    <div class="field">
      <%= f.label :milestone_id %><br />
      <%= f.collection_select :milestone_id, Milestone.project(current_project.id), :id, :title, {:include_blank => true} %>
    </div>
    <div class="field">
      <%= f.label :assignee_id %><br />
      <%= f.collection_select :assignee_id, User.in_project(current_project.id), :id, :email, {:include_blank => true} %>
    </div>
    <div class="field">
      <%= f.label :state %><br />
      <%= f.select :state, ticket_state %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
