<h1>Listing issues</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Author</th>
    <th>Project</th>
    <th>Milestone</th>
    <th>Assignee</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @issues.each do |issue| %>
  <tr>
    <td><%= issue.title %></td>
    <td><%= issue.body %></td>
    <td><%= issue.author_id %></td>
    <td><%= issue.project_id %></td>
    <td><%= issue.milestone_id %></td>
    <td><%= issue.assignee_id %></td>
    <td><%= issue.state %></td>
    <td><%= link_to 'Show', [current_project, issue] %></td>
    <td><%= link_to 'Edit', edit_project_issue_path(current_project, issue) %></td>
    <td><%= link_to 'Destroy', [current_project, issue], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Issue', new_project_issue_path %>
