<!DOCTYPE html>
<html>
  <head>
    <title>Freedom</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="top">
      <div class="inside">
      <ul>
        <li><%= link_to 'Notifications', root_path %> (5)</li>
        <li><%= link_to current_user.name, account_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
      </ul>
      </div>
    </div><!-- end of .top -->
  
  <div class="content">
    <%= yield %>
  </div><!-- end of .content -->

  <footer>Freedom - &copy 2012 Veselin Todorov. MIT License.</footer>
  </body>
</html>
